@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@12..96&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bricolage Grotesque', sans-serif;
}

body{
    background-color: #130f0f;
}


.page-title-container{
    width: fit-content;
    margin: 3rem auto;
    padding: 2rem;
    border: none;
    /* box-shadow: 10px 10px  rgb(48, 47, 47); */
    border-radius: 0.5rem;
    /* background-color:#0AB6AB; */
    background-color: #dbdfe3;
    

}

.page-title-container h1{
    font-size: 1.3rem;
    color: #151515;
}

.color-generation-container{
    width: 50%;
    height: auto;
    background-color: #dbdfe3;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    row-gap: 3rem;
    border: 0.5px rgb(88, 88, 88) solid;
    border-radius: 0.5rem;
}

.color-box-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    background-color: none;
}

.first-color-box, .second-color-box, .third-color-box{
    background-color: #d7d1d1;
    padding: 2rem 4rem;
    border-radius: 1rem;
}

h3{
    color: #000000;
}

button{
    background-color: #130f0f;
    color: #f0eded;
    padding: 1rem 2rem;
    outline: none;
    border: none;
    border-radius: 3rem;
    font-weight: 500;
    font-size: 1rem;
}

